*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #222222;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/**********************************
************    MAIN   ************ 
**********************************/
main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

/***************** MINI MAIN *****************/
#mini-main {
    height: calc(100vh - 90px);
    display: flex;
    color: white;
}

ul {
    list-style: none;
}

/********* nav verticale *********/
#nav-vertical {
    flex: 0 0 230px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* logo */
#nav-logo {
    width: 135px;
    height: 45px;
    margin: 10px 21px 30px 21px;
}

/* main section */
#main-section {
    font-size: 12px;
}

#main-section li {
    padding-left: 22px;
    margin-bottom: 1em;
    border-left: 2px solid black;
}

#main-section li:first-child {
    border-left: 2px solid greenyellow;
}

#main-section li:nth-last-of-type(2), #main-section li:nth-last-of-type(1) {
    color: #808080;
}

#main-section img {
    height: 24px;
    vertical-align: middle;
}

#main-section li:nth-last-of-type(2) img, li:nth-last-of-type(1) img {
    filter: invert(58%) sepia(0%) saturate(3426%) hue-rotate(314deg) brightness(86%) contrast(94%);
}

#main-section span {
    vertical-align: middle;
    padding-left: 0.2em;
}

/* playlist */
#playlist {
    margin-left: 22px;
}

#playlist h3 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 1em;
}

#new-playlist {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-bottom: 20px;
    color: grey;
}

#new-playlist div {
    background-color: gray;
    color: black;
    font-size: 12px;
    width: 2em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

#new-playlist span {
    font-size: 15px;
}

#playlist li {
    font-size: 12px;
    margin-bottom: 1.2em;
    color: grey;
}

/* app & profile */
#nav-bottom {
    margin-bottom: 1em;
}

#nav-download, #nav-profile {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

#nav-download span {
    font-size: 12px;
    color: grey;
}

#nav-download img {
    height: 1em;
    margin-right: 10px;
    filter: invert(58%) sepia(0%) saturate(3426%) hue-rotate(314deg) brightness(86%) contrast(94%);
}

#nav-profile img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 100px;
    margin-right: 10px;
}

#nav-vertical hr {
    width: calc(100% - (22px * 2));
    margin-inline: auto;
    margin-top: 8px;
    margin-bottom: 13px;
}


/********* contenuto *************************/
#content {
    flex-basis: calc(85% + 250px);
    width: 100%;
    background-color: #141922;
    overflow: auto;
    position: relative;
}

#upgrade {
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        right: 0;
        left: 230px;
        z-index: 50;
         display: flex;
         justify-content: flex-end;
         align-items: center;
}

#upgrade button {
    margin-right: 1.5em;
    padding: 0.6em 2.5em;
    font-size: 0.9em;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 100px;
}

#contenuto {
    width: 100%;
    margin-top: 11vh;
}

#content-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    font-size: 1.1em;
    color: grey;
    margin-inline: 2em;
}

#content-section hr {
    color: greenyellow;
    width: 45%;
    margin-inline: auto;
    margin-top: 1px;
}

#contenuto h2 {
    font-size: 2.3em;
    margin-left: 20px;
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}

#contenuto h2:nth-of-type(1) {
    margin-bottom: 0.5em;
}

#contenuto p {
    margin-left: 20px;
    margin-bottom: 2em;
    color: grey;
}

#contenuto .cards {
    width: 100%;
    padding-inline: 20px 2.5em;
    margin-bottom: 5em;
    display: flex;
    gap: 1em;
}

#contenuto .card {
    flex: 0 0 calc((100% - 5 * 1em) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contenuto .card img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#contenuto .card h3 {
    font-size: 1.5rem;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

#contenuto .card p {
    font-size: 1em;
    color: grey;
    margin: 0em;
}


/********* FOOTER *********/
#footer {
    background-color: #282828;
    color: white;
    height: 90px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
         display: flex;
         justify-content: space-between;
         align-items: center;
}

/* brano */
#brano {
    display: flex;
    height: fit-content;
}

#brano img {
    height: 3em;
    margin-inline: 1em 0.7em;
}

#brano-nome {
    line-height: 1.2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.5em;
}

#brano-nome p {
    font-size: 12px;
    color: grey;
}

#brano-icon {
    display: flex;
    align-items: center;
}

#brano-icon i {
    margin-right: 1em;
    color: grey;
}

/* minutaggio */
#minutaggio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#min-icon {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

#min-icon i {
    margin-inline: 0.5em;
    font-size: 1.2em;
}

#min-icon .fa-circle-play {
    font-size: 2em;
}

#minuti {
    display: flex;
    align-items: center;
    width: 100%;
}

#minuti span {
    font-size: 0.7em;
}

#min-bar {
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: grey;
    margin-inline: 1.1em;
}

#min-bar div {
    width: 30%;
    height: 100%;
    border-radius: 100px;
    background-color: white;
}

/* volume */
#volume {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

#volume i {
    margin-right: 1em;
}

#volume-bar-all {
    width: 100px;
    height: 4px;
    border-radius: 100px;
    background-color: grey;
}

#volume-bar {
    width: 40px;
    height: 100%;
    border-radius: 100px;
    background-color: white;
}