*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #222222;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/**********************************
    MAIN 
**********************************/
main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

/***************** MINI MAIN *****************/
#mini-main {
    height: calc(100vh - 90px);
    display: flex;
    color: white;
}

ul {
    list-style: none;
}

/********* nav verticale *********/
#nav-vertical {
    flex: 0 0 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* logo */
#nav-logo {
    width: 135px;
    height: 45px;
    margin: 10px 21px 30px 21px;
}

#nav-mini-logo {
    display: none;
}

/* main section */
#main-section {
    font-size: 12px;
}

#main-section li {
    padding-left: 22px;
    margin-bottom: 1em;
    border-left: 2px solid black;
}

#main-section li:first-child {
    border-left: 2px solid greenyellow;
}

#main-section img {
    height: 24px;
    vertical-align: middle;
}

#main-section li:nth-of-type(1) img, li:nth-of-type(1) span {
    opacity: 0.8;
    cursor: pointer;
}

#main-section li:nth-of-type(2) img, li:nth-of-type(3) img  {
    opacity: 0.5;
    cursor: pointer;
}

#main-section li:nth-of-type(2) span, #main-section li:nth-of-type(3) span {
    opacity: 0.5;
    cursor: pointer;
}

#main-section li img:hover {
    opacity: 1;
}

#main-section li span:hover {
    opacity: 1;
}

#main-section span {
    vertical-align: middle;
    padding-left: 0.2em;
}

#main li:nth-last-of-type(3) span {
    color: #D2D2D2;
}

/* playlist */
#playlist {
    margin-left: 22px;
}

#playlist h3 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 1em;
}

#new-playlist {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.5;
}

#new-playlist:hover {
    opacity: 1;
    cursor: pointer;
}

#new-playlist div {
    background-color: white;
    color: black;
    font-size: 12px;
    width: 2em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

#new-playlist span {
    font-size: 15px;
}

#playlist li {
    font-size: 12px;
    margin-bottom: 1.2em;
    opacity: 0.5;
}

#playlist li:hover {
    opacity: 1;
}

/* app & profile */
#nav-download, #nav-profile {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

#nav-download {
    opacity: 0.5;
}

#nav-download span {
    font-size: 12px;
}

#nav-download:hover {
    opacity: 1;
}

#nav-download img {
    height: 1em;
    margin-right: 10px;
}

#nav-profile {
    margin-bottom: 0.5em;
}

#nav-profile img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 100px;
    margin-right: 10px;
}

#nav-vertical hr {
    width: calc(100% - (22px * 2));
    margin-inline: auto;
    margin-top: 8px;
    margin-bottom: 13px;
}


/********* contenuto *************************/
#content {
    flex-basis: calc(85% + 200px);
    width: 100%;
    background-color: #141922;
    overflow: auto;
    position: relative;
}

#upgrade {
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        right: 0;
        left: 200px;
        z-index: 50;
         display: flex;
         justify-content: flex-end;
         align-items: center;
}

#upgrade button {
    margin-right: 1.5em;
    padding: 0.6em 2.5em;
    font-size: 0.9em;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 100px;
}

#upgrade button:hover {
    transform: scale(1.05);
}

#contenuto {
    width: 100%;
    margin-top: 11vh;
}

#content-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    font-size: 1.1em;
    margin-inline: 2em;
}

#content-section span {
    opacity: 0.5;
}

#content-section span:hover {
    opacity: 1;
}

#content-section hr {
    color: greenyellow;
    width: 45%;
    margin-inline: auto;
    margin-top: 1px;
}

#contenuto h2 {
    font-size: 2.3em;
    margin-left: 20px;
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}

#contenuto h2:nth-of-type(1) {
    margin-bottom: 0.5em;
}

#contenuto p {
    margin-left: 20px;
    margin-bottom: 2em;
    color: grey;
}

#contenuto .cards {
    width: 100%;
    padding-inline: 20px 2.5em;
    margin-bottom: 5em;
    display: flex;
    gap: 1em;
}

#contenuto .card {
    flex: 0 0 calc((100% - 5 * 1em) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#contenuto .card div {
    position: relative;
}

#contenuto .card img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#contenuto .card div:hover > img {
    filter: brightness(0.3);
}

#contenuto .card i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#contenuto .card div:hover >  i {
    opacity: 1;
}

#contenuto .card h3 {
    font-size: 1.5rem;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

#contenuto .card p {
    font-size: 1em;
    color: grey;
    margin: 0em;
}

#contenuto .artist img {
    border-radius: 100%;
}


/********* FOOTER *********/
#footer {
    background-color: #282828;
    color: white;
    height: 90px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
         display: flex;
         justify-content: space-between;
         align-items: center;
}

/* brano */
#brano {
    display: flex;
    height: fit-content;
}

#brano img {
    height: 3em;
    margin-inline: 1em 0.7em;
}

#brano-nome {
    line-height: 1.2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.5em;
}

#brano-nome p {
    font-size: 12px;
    opacity: 0.5;
}

#brano-nome p:hover {
    opacity: 1;
}

#brano-nome p a {
    color: white;
    text-decoration: none;
}

#brano-nome p a:hover {
    text-decoration: underline;
}

#brano-icon {
    display: flex;
    align-items: center;
}

#brano-icon i {
    margin-right: 1em;
    opacity: 0.5;
}

#brano-icon i:hover {
    opacity: 1;
}

/* minutaggio */
#minutaggio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#min-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 7em;
    width: 10em;
    margin-bottom: 0.5em;
}

#min-icon i {
    font-size: 1em;
}

#min-icon .fa-circle-play {
    font-size: 2em;
}

#min-icon .fa-circle-play:hover {
    transform: scale(1.1);
}

#minuti {
    display: flex;
    align-items: center;
    width: 100%;
}

#minuti span {
    font-size: 0.7em;
}

#min-bar {
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: grey;
    margin-inline: 1.1em;
}

#min-bar div {
    width: 30%;
    height: 100%;
    border-radius: 100px;
    background-color: white;
    position: relative;
}

#min-bar:hover div {
    background-color: greenyellow;
}

#min-bar div i {
    font-size: 0.7em;
    position: absolute;
    left: 98%;
    top: -4px;
    display: none;
}

#min-bar:hover > div i {
    display: block;
}

/* volume */
#volume {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

#volume i {
    margin-right: 1em;
}

#volume-bar-all {
    width: 100px;
    height: 4px;
    border-radius: 100px;
    background-color: grey;
}

#volume-bar {
    width: 40px;
    height: 100%;
    border-radius: 100px;
    background-color: white;
    position: relative;
}

#volume-bar-all:hover > #volume-bar {
    background-color: greenyellow;
}

#volume-bar .fa-solid {
    font-size: 0.7em;
    position: absolute;
    left: 35px;
    top: -4px;
    display: none;
}

#volume-bar-all:hover > #volume-bar .fa-solid {
    display: block;
}